/* PUT YOUR CUSTOM CSS HERE */

/* INPUT COLOR */
.input-gray {
    /* background: #202428 !important; */
    background: #30363C !important;
    color: white !important;
}

/* CUSTOM TEXT */
.text-light {
    color: #fff !important;
}

/* CUSTOM MARGIN */


/* DESKTOP AND MOBILE VIEW */
#mobile-view {
    display: none;
}


@media screen and (max-width: 768px) {
	#desktop-view { display: none; }
	#mobile-view { display: block; }
}
